/* Product.js */
.bgProd {
    min-height : calc(var(--vh, 1vh)*100);
    height: max-content;
    & .title {
        font-family: 'Pretendart-ExtraBold';
        font-size: 1.25rem;
        padding-left: 5vw;
        margin-bottom: 1.75vh;
        white-space: nowrap;

        & .titleIcon {
            margin-right: 3%;
        }
    }

    & .recommProduct {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 3vh auto;

        & .imgSlider {
            padding: 0vw 5vw 4vw;
            width: 90vw;
        }

        & .moreBtn {
            display: flex;
            justify-content: center;
            align-items: center;

            background-color: #CAE8DB;
            background: rgb(69,134,107);
            background: linear-gradient(47deg, rgba(69,134,107,1) 7%, rgba(129,193,167,1) 35%, rgba(202,232,219,1) 85%, rgba(255,227,110,1) 100%);

            & .moreIcon {
                height: 50%;
            }
        }
    }
}

.cateMenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1vh auto 3vh;

    & .btnWrapper {
        width: 100vw;
        display: grid;
        grid-template-columns: repeat(4, 20%);
        justify-content: center;
        justify-items: center;
        align-items: end;
        row-gap: 1.5vh;
        column-gap: 3vw;
    }

    & .btnSpan {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 3vw;

        & span {
            font-family: 'Pretendart-ExtraBold';
            margin-top: 0.9vh;
            font-size: 0.7rem;
        }
    }

    & .clicked {
        & .btnDiv {
            box-shadow:0px 4px 18px -5px hsla(234, 44%, 26%, 0.411);
            background-color: white;
            & .icon { color : #81C1A7}
        };

        & span {
            font-family: 'Pretendart-ExtraBold';
            color: #45866B;
            margin-top: 0.9vh;
        }
    }

    & .btnDiv {
        width: 7vw;
        height: 7vw;

        background-color: #ffffff;
        border-radius: 100%;
        padding: 5vw;

        display: flex;
        justify-content: center;
        align-items: center;

        & .icon { 
            color : #45866B ;
        }

        &:active{
            box-shadow:inset 0px 4px 18px -5px hsla(234, 44%, 26%, 0.411);

            .btnDiv .icon { color : #81C1A7}
        }
    }
}
/* Product.js -- end */
/* ViewProductDetail.js */
.bgProd .prodImgSlider {
    /* position: relative; */
    width: 100vw;
    height: 30vh;
    overflow-x: auto;
    -ms-overflow-style:none;
    &::-webkit-scrollbar{
        display: none;
    }
    padding: 0.5rem 0rem;
    display: flex;
    gap: 2vw;
    flex-shrink: 0;
}

.prodImgSlider img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

}

.prodImgSlider .carouselImg {
    position: absolute;
    object-fit: contain;
    width: 100vw;
    height: auto;
}

.imgCarousel {
    position:absolute;
    top:0;
    width: 100vw;

    & .slide {
        position: relative;
        width: 100vw;
    }

    & .slider-wrapper {
        height: 30vh!important;
    }
}

/* ViewProductDetail.js */