@font-face {
  font-family: 'EF_jejudoldam';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
  --vh: 100%;
}

@media (max-width: 767px){
  .bgDiv {
    min-width: 375px;
  }
}
@media (min-width: 768px) and (max-width: 991px){
  .bgDiv {
    min-width: 768px;
  }
}
@media (min-width: 992px) and (max-width: 1199px){
  .bgDiv {
    min-width: 768px;
  }
}
@media (min-width: 1200px){
  .bgDiv {
    min-width: 1200px;
  }
}

.App {
  position: absolute;
  text-align: center;
  display:flex;
  justify-content: center;
  font-family: 'EF_jejudoldam';
}

.App .device {
  max-width: 1024px;
}

.start, .itinerary {
  padding: 20px;
}

button {
  padding: 10px 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  margin-top: 20px;
}

.map-section {
  margin: 20px 0;
}

.events-section {
  margin: 20px 0;
}

.event {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
}
